[Unit]
Description=Logger for ST30L
After=network.target

[Service]
User=haas
WorkingDirectory=/home/haas/Haas_Data_collect/machines/st30l
ExecStart=/usr/bin/python3 -u /home/haas/Haas_Data_collect/haas_logger2.py -a -t 192.168.10.143 --port 5052 --name st30l
Type=idle
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
