[Unit]
Description=Logger for ST30L
After=network.target

[Service]
User=haas
WorkingDirectory=/home/haas/Haas_Data_collect
ExecStart=/usr/bin/python3 /home/haas/Haas_Data_collect/haas_logger2.py -a -t 192.168.0.142  --port 5054 --name st30l
Type=idle

[Install]
WantedBy=multi-user.target
